.navbar {
  background-color: #62c88a;
}

.brand {
  margin-bottom: 0;
  background-color: #cff4fc;
  border-radius: 0.375rem;
  color: #055160;
  padding: 1.5rem 1rem;
  border: 1px solid #b6effb;
}
